[submodule "web3.js"]
	path = web3.js
	url = https://github.com/ethereum/web3.js.git
	branch = master
[submodule "mytoken/dapple_packages/dappsys"]
	path = mytoken/dapple_packages/dappsys
	url = https://github.com/nexusdev/dappsys
